<div class="container mt-3">
  <a routerLink="/create/product-create">
    <div class="row mt-3">
      <div class="col-6">
        <h2>Create Product</h2>
      </div>
      <div class="col-6">
        <img src="../../assets/img/laptop.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </a>
  <a routerLink="/create/create-categories">
    <div class="row mt-3">
      <div class="col-6">
        <img src="../../assets/img/iphone-14.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-6">
        <h2>Create Category</h2>
      </div>
    </div>
  </a>
</div>
