@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
// Colors
$white-color: #f7f7f7;
$primary-color: #6d9886;
$secondary: #f2e7d5;
$black-color: #393e46;
$orange-color: #ef9a53;
//fonts
$standart-font: "Secular One", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $standart-font;
}
html {
  scroll-behavior: smooth;
}

.form-control.ng-touched.ng-invalid {
  border-left: 3px solid #dc3545;
}
.form-control.ng-touched.ng-valid {
  border: 3px solid $primary-color;
}
